body {
    margin: auto;
    padding: auto;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.headerFistBox {
    background-color: #1E90FF;
    padding: 10px;
}

.headerFistBox img {
    width: 100px;
    padding-top: 20px;
}

.headerFistBox nav {
    float: right;
}

.headerFistBox nav ul {
    list-style-type: none;
    padding-right: 50px;
}

.headerFistBox nav ul li {
    display: inline-block;
}

.listItem {
    padding-right: 50px;
}

.headerFistBox nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: 0.5s;
}

.headerFistBox nav ul li a:hover {
    font-weight: bold;
    transition: 0.5s;
}

/*-------------------------------grand titre fonds------------------------*/
.blocFont {
    padding: 15px;
    background-image: url("https://i.pinimg.com/736x/e0/f5/a1/e0f5a1619cb9004e19b85be12262aaaa.jpg");
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), grey), url("https://i.pinimg.com/736x/e0/f5/a1/e0f5a1619cb9004e19b85be12262aaaa.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    word-wrap: break-word;
    padding-bottom: 50px;

}

.blocFont h1 {
    text-transform: uppercase;
    font-size: 95px;
    color: white;
}

.blocFont a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid white;
    padding: 5px;
    transition: 0.5s;
}

.blocFont a:hover {
    border: none;
    background-color: white;
    color: inherit;
    letter-spacing: 1px;
    padding: 10px;
    transition: 0.5s;
}

/**************************************main*******************************/
main {
    margin: auto;
    width: 90%;
    margin-top: 100px;

    h3 {
        font-size: 30px;
        color: #1E90FF;
    }

    h4 {
        font-weight: normal;
    }
}

/******************section*******************/
section {
    margin-top: 100px;
}

section div {
    text-align: center;
}

section div h4 {
    font-size: 100px;
    color: white;
}

.blocSlideUN {
    padding: 20px;
    background-image: url("https://i.pinimg.com/736x/cd/c7/a2/cdc7a2494475c3885c5618dcc7af716a.jpg");
    background-image: url('https://i.pinimg.com/736x/20/f5/21/20f521248c2b9d07de1b59932871df30.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.blocSlideDeux {
    padding: 20px;
    background-image: url("https://i.pinimg.com/736x/89/8f/5f/898f5fbe7a54bea7279a71c7799f1664.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.blocSlideTrois {
    padding: 20px;
    background-image: url("https://i.pinimg.com/736x/84/c1/cd/84c1cd1b51b8868e7de7f7942facf9e1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.blocSlideQuatre {
    padding: 20px;
    background-image: url("https://i.pinimg.com/736x/43/47/17/43471740ff8ee8ef7c7339d5da2fda0d.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.blocSlideCinq {
    padding: 20px;
    background-image: url("https://i.pinimg.com/736x/e0/0b/21/e00b2170ee888ffd9f814a4767dcb1d4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/*********************************article services***************************/
article {
    margin: auto;
    width: 90%;
    margin-top: 100px;

    h3 {
        font-size: 30px;
        color: #1E90FF;
    }
}

.serviceBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.serviceBox div {
    flex-basis: 30%;
    font-weight: 400;
    height: auto;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0px 0px 5px whitesmoke;
    background-image: url("https://i.pinimg.com/736x/9b/fb/98/9bfb98cef8fb233907c628c82cf64c7e.jpg");
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), grey), url("https://i.pinimg.com/736x/9b/fb/98/9bfb98cef8fb233907c628c82cf64c7e.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: white;
    transition: 0.5s;
}

.serviceBox div:hover {
    font-size: large;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.serviceBox div p {
    text-align: justify;
}

.serviceBox div a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: initial;
    padding: 3px;
    transition: 0.5s;
}

.serviceBox div a:hover {
    font-weight: bold;
    transition: 0.5s;
}

/****************************************************aside********************/
aside {
    margin: auto;
    width: 90%;
    margin-top: 100px;

    h3 {
        text-transform: uppercase;
        font-size: 30px;
        color: #1E90FF;
    }
}

.splide__slide {
    text-align: center;
}

.splide__slide img {
    width: 95%;
    height: 350PX;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.5s;
    box-shadow: 0px 0px 10px gray;
}

.splide__slide img:hover {
    width: 105%;
    height: 400px;
    transition: 0.5s;
}

/*****************************localisation********************************/
.localisation {
    margin-top: 100px;
}

#map {
    height: 400px;
}

.localisationTitle {
    margin: auto;
    width: 90%;

    h3 {
        font-size: 30px;
        color: #1E90FF;
        text-transform: uppercase;
    }
}

/********************footer*******************/
footer {
    background-color: orange;
    color: white;
    padding: 2px;
    background-color: #1E90FF;
    word-wrap: break-word;
}

.footer {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.footer div {
    flex-basis: 40%;
    margin-top: 50px;
}

.footer div h1,
h3 {
    text-transform: uppercase;
    font-size: 30px;
}

.footer div ul {
    list-style-type: none;
    position: relative;
    right: 25px;
}

.footer div ul li {
    display: inline-block;
    padding-left: 15px;
}

.footer div ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footer div ul li a:hover {
    padding: 10px;
    transition: 0.5s;
}

.copy {
    text-align: center;
    margin-top: 50px;
    font-size: small;
    border-top: 1px solid white
}

/***************************************************************************************************************/
@media screen and (max-width:1200px) {
    .serviceBox div {
        flex-basis: 45%;
        margin-top: 30px;
    }
}

@media screen and (max-width:800px) {
    .headerFistBox nav {
        display: none;
    }

    .blocFont h1 {
        font-size: 50px;
    }

    main {
        margin-top: 50px;
    }

    section {
        margin-top: 50px;
    }

    section div h4 {
        font-size: 50px;
    }

    article {
        margin-top: 50px;
    }

    .serviceBox div {
        flex-basis: 100%;
    }

    aside {
        margin-top: 50px;
    }

    .boxEquipe {
        flex-wrap: wrap;
    }

    .boxEquipe div {
        flex-basis: 100%;
        margin-top: 15px;
    }

    .boxEquipe div:hover {
        flex-basis: 100%;
    }

    .boxEquipe div img {
        height: 300px;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer div {
        flex-basis: 100%;

    }


}