body {
    margin: auto;
    padding: 0px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #333;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.headerFistBox {
    background-color: #04294e;
    padding: 10px;
}


.headerFistBox .descktop_navigation {
    text-align: right;
}

.headerFistBox .descktop_navigation ul {
    list-style-type: none;
    padding-right: 50px;
}

.headerFistBox .descktop_navigation ul li {
    display: inline-block;
}

.listItem {
    padding-right: 50px;
}

.headerFistBox .descktop_navigation ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: 0.5s;
}

.headerFistBox .descktop_navigation ul li a:hover {
    font-weight: bold;
    transition: 0.5s;
}

.boutonMenu {
    color: white;
    font-size: 30px;
    display: none;
}

.mobile_navigation {
    background-color: #04294e;
    background-color: rgb(222, 12, 12);
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    transition: 0.5s;
}

.mobile_navigation ul li {
    list-style-type: none;
    padding-top: 20px;
}

.mobile_navigation li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.mobile_navigation_js_class {
    transition: 0.5s;
    left: -0%;
}

.closeMenu {
    float: right;
    padding-right: 20px;
    padding-bottom: 100px;
}

/*-------------------------------grand titre fonds------------------------*/
.blocFont {
    padding: 15px;
    background-image: url("https://i.pinimg.com/736x/e0/f5/a1/e0f5a1619cb9004e19b85be12262aaaa.jpg");
    background-image: url("https://images.unsplash.com/photo-1621905251189-08b45d6a269e?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    word-wrap: break-word;
    padding-bottom: 80px;
    text-align: center;

}

.blocFont h1 {
    font-size: 95px;
    color: white;
}

.blocFont h3 {
    color: white;
    font-size: 40px;
    text-transform: initial;
}

.blocFont a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.blocFont a:hover {
    border: none;
    background-color: white;
    color: inherit;
    letter-spacing: 1px;
    padding: 10px;
    font-weight: bold;
    transition: 0.5s;
}

/**************************************main*******************************/
main {
    margin: auto;
    width: 90%;
    margin-top: 100px;
}

main h3 {
    font-size: 40px;
    color: #04294e;
    text-align: center;
    text-transform: initial;
}

main .mainBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

main .mainBox div {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    background-color: whitesmoke;
}

main .mainBox div:hover {
    transition: 0.5s;
    background-color: gray;
    background-color: #04294e;
    color: white;
    cursor: pointer;
}

main .mainBox div p {
    font-size: small;
    font-weight: 400;
}



/******************section*******************/
section {
    margin-top: 100px;
}

section div {
    text-align: center;
}

section div h4 {
    font-size: 100px;
    color: white;
}

.blocSlideUN {
    padding: 20px;
    background-image: url("https://i.pinimg.com/736x/cd/c7/a2/cdc7a2494475c3885c5618dcc7af716a.jpg");
    background-image: url("https://images.unsplash.com/photo-1517420704952-d9f39e95b43e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fGVsZWN0cmljaWVufGVufDB8fDB8fHww");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.blocSlideDeux {
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1627752711469-d98b8acfc05c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.blocSlideTrois {
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1718203862467-c33159fdc504?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.blocSlideQuatre {
    padding: 20px;
    background-image: url("https://plus.unsplash.com/premium_photo-1682145344450-34d8323dec84?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.blocSlideCinq {
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1578574577315-3fbeb0cecdc2?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/*********************************article services***************************/
article {
    margin: auto;
    width: 90%;
    margin-top: 100px;
}

article h3 {
    font-size: 40px;
    color: #04294e;
    text-align: center;
    text-transform: initial;
}


.serviceBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}

.serviceBox div {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.serviceBox div:hover {
    background-color: #04294e;
    color: white;
    cursor: pointer;
    padding: 25px;
    transition: 0.5s;
}

.serviceBox div p {
    text-align: justify;
    font-size: small;
    font-weight: 400;
}

.serviceBox div a {
    display: inline-block;
    margin-top: 15px;
    background-color: #04294e;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.serviceBox div a:hover {
    background-color: white;
    color: #04294e;
    padding: 10px 18px;
    font-weight: bold;
    transition: 0.5s;
}

/****************************************************aside********************/
aside {
    margin: auto;
    width: 90%;
    margin-top: 100px;
    text-align: center;
}

aside h3 {
    font-size: 40px;
    color: #04294e;
    text-align: center;
    text-transform: initial;
}

.splide__slide {
    text-align: center;
}


aside .splide__slide img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/*****************************localisation********************************/
.localisation {
    text-align: center;
    padding: 40px 20px;
}

.localisation h3 {
    font-size: 40px;
    color: #04294e;
    text-align: center;
    text-transform: initial;
}

.localisationTitle {
    margin: auto;
    width: 90%;
}

#map {
    height: 400px;
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    border-radius: 8px;
}

/********************footer*******************/
footer {
    margin-top: 100px;
    color: white;
    padding: 2px;
    background-color: #04294e;
    word-wrap: break-word;
}

.footer {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.footer div {
    flex-basis: 20%;
    margin-top: 50px;
}

.footer div h1,
h3 {
    text-transform: lowercase;
    font-size: 30px;
}

.footer div img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.footer p a {
    text-decoration: none;
    color: white;
    transition: 0.5S;
}

.footer p a:hover {
    font-weight: bold;
}

.footer div ul {
    list-style-type: none;
    position: relative;
    right: 25px;
}

.footer div ul li {
    display: inline-block;
    padding-left: 15px;
}

.footer div ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footer div ul li a:hover {
    padding: 10px;
    transition: 0.5s;
}

.copy {
    text-align: center;
    margin-top: 100px;
    font-size: small;
    border-top: 1px solid white
}

/***************************************************************************************************************/
@media screen and (max-width:1200px) {
    .serviceBox div {
        flex-basis: 45%;
        margin-top: 30px;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer div {
        flex-basis: 45%;
        margin-top: 50px;
    }
}

@media screen and (max-width:800px) {
    .headerFistBox .descktop_navigation {
        display: none;
    }

    .boutonMenu {
        display: block;
    }

    .blocFont h1 {
        font-size: 50px;
    }

    main {
        margin-top: 50px;
    }

    main .mainBox {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
        gap: 30px;
    }

    section {
        margin-top: 50px;
    }

    section div h4 {
        font-size: 50px;
    }

    article {
        margin-top: 50px;
    }

    .serviceBox {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
        gap: 30px;
    }


    .footer {
        flex-wrap: wrap;
    }

    .footer div {
        flex-basis: 100%;
        margin-top: 30px;
    }


}